<div class="container-fluid">
    <div class="row pl-4 pt-4 pb-3">
        <div class="col-lg-5" id="registrat-rebelde" [routerLink]="['registro']">
            <h1>Registrar Rebelde</h1>
        </div>
        <div class="col-lg-2 p-0 m-0">
            <img src="../../../assets/imagens/01.png" alt="logo" />
        </div>
        <div class="col-lg-5" id="negociar-itens" [routerLink]="['negocio']">
            <h1>Negociar itens</h1>
        </div>
    </div>
    <div class="row pl-4 pb-4 pt-3">
        <div class="col-lg-5" id="reportar-localizacao" [routerLink]="['localizacao']">
            <h1>Reportar localizacao</h1>
        </div>
        <div class="col-lg-2 p-0 m-0">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <h1 class="mt-5">Relatorio</h1>
            </button>
        </div>
        <div class="col-lg-5" id="reportar-traidor" [routerLink]="['reporte']">
            <h1>Reportar Traidor</h1>
        </div>
    </div>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Relatorio</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" *ngFor="let rebelde of this.rebeldesNTraidores">
                <h5>Nome: {{rebelde.nome}}</h5> <h5>Idade: {{rebelde.idade}}</h5><h5>Genero: {{rebelde.genero}}</h5>
                <h4>Localização:</h4>
                <h5>Longitude: {{rebelde.localizacao.longitude}}</h5><h5>Latitude: {{rebelde.localizacao.latitude}}</h5> <h5>Nome da Localização: {{rebelde.localizacao.nome}}</h5>
                <h4>Inventario:</h4>
                <div *ngFor="let inventario of rebelde.inventario">
                    <h5>Item: {{inventario.item}}</h5> <h5>Pontos: {{inventario.pontos}}</h5>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>