<div class="container-fluid">
    <div class="row pl-4 pt-4 pb-3">
        <div class="col-lg-5" id="registrat-rebelde">
            <h1>Registrar Rebelde</h1>
        </div>
        <div class="col-lg-2 p-0 m-0">
            <img src="../../../assets/imagens/01.png" alt="logo"/>
        </div>
        <div class="col-lg-5" id="negociar-itens">
            <h1>Negociar itens</h1>
        </div>
    </div>
    <div class="row pl-4 pb-4 pt-3" >
        <div class="col-lg-5" id="reportar-localizacao">
            <h1>Reportar localizacao</h1>
        </div>
        <div class="col-lg-2 p-0 m-0"></div>
        <div class="col-lg-5" id="reportar-traidor">
            <h1>Reportar Traidor</h1>
        </div>
    </div>
</div>
