<div class="container-fluid">
    <div class="row p-0 mg-0">
        <div class="col-lg-6" id="registro">
            <h1>Registro</h1>
            <form method="post" #frm="ngForm" (ngSubmit)="reporteTraidor(frm)">
                <div class="form-group">
                    <h2>Reporte Traidor</h2>
                    <p>Informe o traidor e quem estar reportando?</p>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="latitude">Traidor</label>
                            <ng-select [items]="rebeldes" bindLabel="nome" bindValue="id" placeholder="Selecione o Traidor!"
                            (change)="onChangeTraidor($event)">
                        </ng-select>
                        </div>
                        <div class="col">
                            <label for="latitude">Rebelde</label>
                            <ng-select [items]="rebeldes" bindLabel="nome" bindValue="id" placeholder="Selecione o Rebelde!"
                                (change)="onChangeRebelde($event)">
                            </ng-select>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col">
                            <button class="btn btn-primary" type="submit"
                            [disabled]="frm.invalid">Reporte</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-6" id="informacao">
            <div class="row" id="img">
                <img src="../../../assets/imagens/06.jpg" alt="logo">
            </div>
            <div class="row" id="txt">
                <p>Eu sou Darth Vader. Você não conhece o poder do lado sombrio. ...</p>
            </div>
        </div>
    </div>
    <div class="row pt-4">
        <a class="btn btn-primary" href="#" role="button" [routerLink]="['']">Retorno</a>
    </div>
</div>