<div class="container-fluid">
    <div class="row p-0 mg-0">
        <div class="col-lg-6" id="registro">
            <h1>Registro</h1>
            <form method="put" #frm="ngForm" (ngSubmit)="atualizar(frm)">
                <div class="form-group">
                    <h2>Localização</h2>
                    <p>Informe a nova localização?</p>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="latitude">Rebelde</label>
                            <ng-select [items]="rebeldes" bindLabel="nome" bindValue="id" placeholder="Selecione o Rebelde"
                                (change)="onChange($event)">
                            </ng-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="latitude">Latitude</label>
                            <input type="text" class="form-control" id="latitude" aria-describedby="latitude"
                                placeholder="Informe a latitude?" [(ngModel)]="localizacao.latitude"
                                name="latitude" required>
                        </div>
                        <div class="col">
                            <label for="longitude">Longetude</label>
                            <input class="form-control" id="longitude" aria-describedby="longitude"
                                placeholder="Informe a longitude?" [(ngModel)]="localizacao.longitude"
                                name="longitude" required>
                        </div>
                        <div class="col">
                            <label for="nomeLocalizacao">Localizacao</label>
                            <input type="text" class="form-control" id="nomeLocalizacao"
                                aria-describedby="nomeLocalizacao" [(ngModel)]="localizacao.nome"
                                placeholder="Informe o nome?" name="nomeLocalizacao" required>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <button class="btn btn-primary btn-sm" type="submit"
                            [disabled]="frm.invalid">Atualizar</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-6" id="informacao">
            <div class="row" id="img">
                <img src="../../../assets/imagens/05.png" alt="logo">
            </div>
        </div>
    </div>
    <div class="row pt-4">
        <a class="btn btn-primary" href="#" role="button" [routerLink]="['']">Retorno</a>
    </div>
</div>